In [1]:
import pandas as pd

In [2]:
pd

In [9]:
df_cvs = pd.read_csv("/home/jackson/Workspace/queimadas_brasil/all_dashboard-fires-month-14-04-2022-17 04 55.csv",sep=";")

In [10]:
df_cvs.head()

      date                     class  focuses           uf
0  2022/01  Desmatamento Consolidado        5         ACRE
1  2022/01  Desmatamento Consolidado        1        AMAPÁ
2  2022/01  Desmatamento Consolidado       48     AMAZONAS
3  2022/01  Desmatamento Consolidado       27     MARANHÃO
4  2022/01  Desmatamento Consolidado      236  MATO GROSSO